services:
  mongo-db:
    image: mongo:noble
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    volumes:
      - ./mongo:/data/db
    ports:
      - 27017:27017

  backend:
    build:
      context: ./backend
    restart: always
    env_file:
      - ./backend/.env
    environment:
      MONGO_URI: mongodb://${MONGO_USER}:${MONGO_PASS}@mongo-db:27017
      MONGO_DB_NAME: ${MONGO_DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
      PORT: 5175
    depends_on:
      - mongo-db
    ports:
      - 5175:5175

  frontend:
    build:
      context: ./frontend
    restart: always
    depends_on:
      - backend
    ports:
      - 5173:80
