# fly.toml app configuration file generated for backend-rough-dew-3749 on 2026-01-19T18:29:13-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-rough-dew-3749'
primary_region = 'ord'

[build]

[http_service]
  internal_port = 5175
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
